name: Publish

on:
  workflow_run:
    workflows: ["Test"]
    types:
      - completed

jobs:
  publish:
    if: |
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_branch, 'v')
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          key: ${{ runner.os }}
          path: .cache

      - name: Load PSDepend Requirements
        id: psdepend
        shell: pwsh
        run: |
          $reqs = Import-PowerShellDataFile ./requirements.psd1
          $moduleNames = $reqs.Keys | Where-Object { $_ -ne 'PSDependOptions' -and $null -eq $reqs[$_].DependencyType }
          $dependencyList = ($moduleNames | Sort-Object | ForEach-Object { '{0}:{1}' -f $_, $reqs[$_].Version  }) -join ', '
          "psdependencies=$dependencyList" >> $env:GITHUB_OUTPUT

      - name: Install and cache PowerShell modules
        uses: potatoqualitee/psmodulecache@v6.2
        with:
          modules-to-cache: ${{ steps.psdepend.outputs.psdependencies }}

      - name: Publish
        env:
          PSGALLERY_API_KEY: ${{ secrets.PSGALLERY_API_KEY }}
        shell: pwsh
        run: ./build.ps1 -Task Publish -Bootstrap
